.pagina-infos {
    display: flex;
    flex-direction: row;

    width: 90%;

    padding-bottom: 5%;
  //  padding-right: 5%;

    gap: 5%;

    .infosProjeto {
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        //padding-right: 100px;

        h1 {
            padding-top: 20px;
            padding-left: 500px;
            color: #1D3A5E;
            text-align: center;
        }
    }
    
    .info-projeto-imagem img {
            margin-top: 35%;
            margin-right: 500px;
            max-width: 80%;
            border-radius: 5%;
        }
    
    
    
}